<div class="start-pop">
    <!--<div class="text">
        Какой-то текст, если нужен
    </div>-->
    <div class="start play">
        <div>
            <img src="images/startscreen-btn-h.png" alt=""/>
            <img src="images/startscreen-btn.png" alt=""/>
        </div>
        <div>
            <img src="images/startscreen-cont-btn-h.png" alt=""/>
            <img src="images/startscreen-cont-btn.png" alt=""/>
        </div>
    </div>
    <div class="start load">
        <img src="images/startscreen-load-btn.png" alt=""/>
        <img src="images/startscreen-load-btn-h.png" alt=""/>
    </div>
</div>
<!--<div class="s-ctrls">
    <div class="continue">
        <img src="images/startscreen-btn-continue.svg" alt=""/>
        <img src="images/startscreen-btn-continue-h.svg" alt=""/>
    </div>
    <div class="clr hoverable">
        <img src="images/startscreen-btn-restart.svg" alt=""/>
        <img src="images/startscreen-btn-restart-h.svg" alt=""/>
    </div>
</div>-->
<div class="loader-pop">
    <div class="l"></div>
</div>
<div class="orientation-pop">
    <div class="text">
        Поверните устройство в горизонтальное положение или используйте компьютер.
    </div>
</div>
<div class="special-btns"><div class="inner"></div></div>
<div class="achievement-pop">
    <div class="into"></div>
</div>
<div class="article-pop">
    <div class="into"></div>
</div>
<div class="full-article-pop">
    <div class="bg"></div>
    <div class="content">
        <div class="container">
            <div class="t-scroll-wrap">
                <div class="t-scroll-inner">
                
                </div>
            </div>
            <div class="t-scroll-bar"><div></div></div>
        </div>
        <div class="close"></div>
        <div class="back"><span>Вернуться</span></div>
        <div class="more"><span>Больше карточек</span></div>
    </div>
</div>
<div class="info-pop">
    <div class="caller"></div>
    <div class="inner">
        <div class="tabs">
            <div><span>Сохранение</span></div>
            <div><span>Загрузка</span></div>
            <div><span>Достижения</span></div>
            <div><span>Персонажи</span></div>
            <div><span>Полезные статьи</span></div>
        </div>
        <div class="content">
            <div class="top">
                <div class="block">
                    <div class="h">Сохранение</div>
                    <div class="desc">
                        Ваши данные переработаны в личный код.<br/>
                        Введите его, когда захотите продолжить с того же места на любом устройстве.
                    </div>
                </div>
                <div class="block">
                    <div class="h">Загрузка</div>
                    <div class="desc">
                        Ваши данные переработаны в личный код.<br/>
                        Введите его, когда захотите продолжить с того же места на любом устройстве.
                    </div>
                </div>
                <div class="block">
                    <div class="h">Достижения (<span class="ach-ctr"></span>)</div>
                    <div class="desc">На этой странице отмечаются ваши успехи в прохождении сюжета.</div>
                </div>
                <div class="block">
                    <div class="h">Персонажи</div>
                    <div class="desc">Здесь вы можете увидеть информацию о персонажах</div>
                </div>
                <div class="block">
                    <div class="h">Полезные статьи</div>
                    <div class="desc">Полезные статьи о том как происходят поиски и чем ты можешь помочь</div>
                </div>
            </div>
            <div class="container">
                <div class="t-scroll-wrap">
                    <div class="t-scroll-inner">
                        <div class="block">
                            <div class="the-code">
                                <div class="code"><span></span></div>
                                <input type="text" class="code-hidden"/>
                                <div class="btn copy">скопировать код<br/>в буфер обмена</div>
                            </div>
                            <div class="or-copy">
                                Или вы можете схоранить себе qr-код и воспользоваться сканером на устройстве.
                            </div>
                            <a href="" class="save">Сохранить файл с кодом</a>
                            <div class="qr"></div>
                        </div>
                        <div class="block">
                            <div class="the-code">
                                <input placeholder="Введите ваш код" type="text" class="code-input"/>
                                <div class="btn go">Загрузить</div>
<!--                                <div class="err-text"></div>-->
                            </div>
                        </div>
                        <div class="block achievements">
                        
                        </div>
                        <div class="block">
                            <div class="pers-item">
                                <img src="images/info-pop/pers1.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Лиса</div>
                                    Главная героиня, девочка-подросток Алиса. Она яркая, умная, целеустремленная, свободолюбивая. У Лисы на все есть свое мнение, поэтому ее не воспринимают сверстники и даже буллят. Единственный друг – Макс, именно с ним девочка решает бежать из города, чтобы почувствовать вкус свободы.
                                </div>
                            </div>
                        </div>
                        <div class="block articles">
                            <div class="extra">
                                ПРОДОЛЖАЙТЕ ПРОСМОТР<br/><br/>
                                Вместе с Ольгой и Денисом продолжай узнавать больше
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-scroll-bar"><div></div></div>
            </div>
        </div>
    </div>
</div>

<div class="server-test"></div>