<script type="text/template" id="info-ach-template">
    <% for(let i=0;i<achievements.length;i++){ %>
    <div class="ach-item<%= achievements[i].disabled?' disabled':'' %>">
        <img class="ach-img" src="<%= achievements[i].img %>" />
        <div class="ach-text">
            <div class="ach-h"><%= achievements[i].h %></div>
            <%= achievements[i].text %>
        </div>
    </div>
    <% } %>
</script>
<script type="text/template" id="achievement-template">
    <img class="img" src="<%= img %>" />
    <div class="inner">
        <div class="h"><%= h %></div>
        <div class="text"><%= text %></div>
    </div>
</script>
<script type="text/template" id="info-art-template">
    <% for(let i=0;i<articles.length;i++){ %>
    <div class="article-item">
        <img src="<%= articles[i].bg %>" alt="" class="a-bg"/>
        <div class="a-cont">
            <div class="a-h"><span><%= articles[i].h %></span></div>
            <div class="a-text"><%= articles[i].text %></div>
        </div>
        <img src="<%= articles[i].icon %>" alt="" class="a-icon"/>
    </div>
    <% } %>
</script>
<script type="text/template" id="article-template">
    <div class="article-item">
        <img src="<%= bg %>" alt="" class="a-bg"/>
        <div class="a-cont">
            <div class="a-h"><span><%= h %></span></div>
            <div class="a-text"><%= text %></div>
        </div>
        <img src="<%= icon %>" alt="" class="a-icon"/>
    </div>
</script>
<script type="text/template" id="full-article-template">
    <div class="h"><span><%= h %></span></div>
    <%= pop %>
</script>
<script type="text/template" id="ext-player-template">
    <input type="checkbox" />
    <img class="icon" src="images/icons/icon-bookmark.svg" alt=""/>
    <div class="step-btns">
        <% for(let i=0;i<choose.length;i++){ %>
        <div class="int-ind-back<%= choose[i]?' enabled':' ' %>"><span><%= i+1 %></span></div>
        <% } %>
    </div>
</script>