<link href="css/video-js.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" />
<script src="js/lib/pack/0underscore.min.js"></script>
<script src="js/lib/pack/backbone.min.js"></script>
<script src="js/lib/pack/event.js"></script>
<script src="js/lib/pack/imagesloaded.js"></script>
<script src="js/lib/pack/lottie.min.js"></script>
<script src="js/lib/pack/video.min.js"></script>
<script src="js/lib/pack/videojs-quality-selector.min.js"></script>
<script src="js/lib/pack/jquery.qrcode.min.js"></script>
<script src="js/app.js" type="module"></script>
<!--<script src="js/built-min.js"></script>-->