@include exports("@path:components\_ep1.scss"){/*@path:components\_ep1.scss*/
  .ov-wrap{
    &.learn{
      .ov-inner{
        @include abs($l:0,$t:0,$r:0,$b:0);
        .h-b-text{
          margin-top:2.5em;
        }
        .h-b-btn{
          right:0;
        }
      }
      .ov-cont{
        @include center();
        width:90%;
        &.full{
          height:100%;
        }
        &.ach{
          padding:0 12em 0 21em;
          @extend %bxz;
        }
        &.save{
          height:90%;
        }
      }
      .start{
        color:#DF8998;
        cursor:pointer;
        margin-top:2em;
        text-transform:uppercase;
        display:inline-block;
      }
      .skip{
        margin-top:2em;
        color:rgba(#fff,.5);
        cursor:pointer;
        display:inline-block;
      }
      .pop-l,.pop-r{
        border:.2em solid rgba(#fff,.7);
        padding:1em;
        border-radius:.6em;
        display:inline-block;
        @include abs($t:8em);
      }
      .pop-l{
        left:-3em;
      }
      .pop-r{
        right:-3em;
      }
      .save-img{
        position:absolute;
        width:70%;
        margin:-1em 0 0 -3em;
        &+.h-b-h{
          margin-top:17em;
        }
      }
      .arr{
        @include abs($l:60%,$b:5.5%);
        width:5.5%;
      }
    }
  }
}