@include exports("@path:components\_ep1.scss"){/*@path:components\_ep1.scss*/
  .ov-wrap{
    &.learn{
      .ov-inner{
        @include abs($l:0,$t:0,$r:0,$b:0);
        .h-b-text{
          margin-top:2.5em;
        }
        .h-b-btn{
          right:0;
        }
      }
      .ov-cont{
        @include center();
        width:90%;
        &.full{
          height:100%;
        }
        &.ach{
          padding:0 12em 0 21em;
          @extend %bxz;
        }
        &.save{
          height:90%;
        }
      }
      .start{
        color:#DF8998;
        cursor:pointer;
        margin-top:2em;
        text-transform:uppercase;
        display:inline-block;
      }
      .skip{
        margin-top:2em;
        color:rgba(#fff,.5);
        cursor:pointer;
        display:inline-block;
      }
      .pop-l,.pop-r{
        border:.2em solid rgba(#fff,.7);
        padding:1em;
        border-radius:.6em;
        display:inline-block;
        @include abs($t:8em);
      }
      .pop-l{
        left:-3em;
      }
      .pop-r{
        right:-3em;
      }
      .save-img{
        position:absolute;
        width:70%;
        margin:-1em 0 0 -3em;
        &+.h-b-h{
          margin-top:17em;
        }
      }
      .arr{
        @include abs($l:60%,$b:5.5%);
        width:5.5%;
      }
    }
    &.fork{
      &.vanish{
        .l-bg:nth-child(2){
          opacity:0;
          @include trs('opacity 10s ease-in-out,visibility 0s ease-in-out 10s');
        }
        .ov-inner.int.shown .the-btn.alt{
          visibility:hidden;
          opacity:0;
          @include trs('opacity 10s ease-in-out,visibility 0s ease-in-out 10s');
        }
      }

      .ov-inner{
        &.int{
          @include center();
          @include flx(flex-flow, 'row wrap');
          @include flx(justify-content, center);
          height:auto;
          text-align:center;
          &.shown{
            @include flx(display, flex);
            .the-btn.alt{
              visibility:visible;
            }
            &+.the-prog{
              opacity:1;
            }
          }
        }
        &.diff{
          height:100%;
          .the-btn{
            height:85%;
            margin:auto 0 auto 3em;
            width:15em;
            @include flx(display,flex);
            &.alt{
              margin-left:15em;
            }
            .btn-h{
              margin-top:auto;
            }
          }
        }
      }

      .l-bg{
        @include abs($l:0,$r:0,$t:0,$b:0);
      }

      .the-btn{
        margin:0 6em;
        position:relative;
        &:not(.alt) .l{
          transform:scale(-1,1);
        }
      }
    }

    &.packing,&.team{
      .ov-inner{
        &.int .ov-cont{
          @include center();
          width:100%;
          height:70%;
        }
      }

      .left,.right{
        @include abs($t:0,$b:0);
        width:20%;
        cursor:pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        @include med(){
          width:28%;
        }
        &.err:before{
          content:'';
          @include trs('all #{$anim} ease-in-out');
          border:.5em solid rgba(#f00, .5);
          text-indent:1px;
        }
        &:before{
          content:'';
          text-indent:0;
          @include abs($l:0,$r:0,$t:0,$b:0);
        }
      }

      .right{
        right:0;
      }

      .l{
        @include abs($l:0, $r:0, $t:0, $b:0);
      }

      .ov-cont.phase2{
        height:100%;
      }

      .l-h,.r-h,.r-ctr{
        color:#DF8998;
        @include abs($r:1.5em, $t:1.8em);
        @include med(){
          top:-1.5em;
        }
        span{
          font-size:.82em;
          @include med(){
            font-size:.7em;
          }
        }
      }

      .r-h{
        right:auto;
        left:1.5em;
      }

      .into{
        @include abs($t:0, $b:0, $l:20%, $r:20%);
        @include med(){
          left:25%;
          right:25%;
        }
      }

      .item{
        @include abs($t:0,$b:0,$l:0,$r:0);
        z-index:1;
        opacity:0;
        visibility:hidden;
        text-indent:0;
        pointer-events:none;
        &.shown{
          opacity:1;
          visibility:visible;
          @include trs('text-indent #{$anim*4} ease-in-out #{$anim*2},opacity #{$anim} ease-in-out');
        }

        &.putL,&.putR{
          text-indent:1px;
          .i-h, .i-desc{
            opacity:0;
          }
          img{
            opacity:0;
          }
        }
        &.putL img{
          filter:grayscale(1);
        }

        img{
          @include trs('transform #{$anim} ease-in-out,filter #{$anim*2} ease-in-out,opacity #{$anim} ease-in-out #{$anim*2}');
        }
      }

      .i-img{
        @include center();
        @include flx(display, flex);
        @include flx(align-items, center);

        img{
          width:100%;
        }
      }

      .i-desc{
        @include center($b:1em);
        width:80%;
        text-align:center;
        font-size:1em;
        @include trs('opacity #{$anim} ease-in-out');
        @include med(){
          font-size:.6em;
        }
      }

      .arr{
        --w:36em;
        @include center();
        width:var(--w);
        height:calc(43 / 112 * var(--w));
        pointer-events:none;
        @include med(){
          --w:40em;
        }
      }
    }
    &.packing{
      &.item-l .item:not(.putL):not(.putR) img{
        transform:translate(-2em, 0) rotate(-15deg);
      }
      &.item-r .item:not(.putL):not(.putR) img{
        transform:translate(2em, 0) rotate(15deg);
      }
      .item{
        color:rgba(#fff,0.5);
        &.putL img{
          transform:translate(-23em, 0) scale(0.8);
        }
        &.putR img{
          transform:translate(23em, 0) scale(0.8);
        }
      }

      .i-h{
        position:absolute;
        width:100%;
        text-align:center;
        text-transform:uppercase;
        font-weight:300;
        font-size:1.2em;
        @include trs('opacity #{$anim} ease-in-out');
      }

      .i-img{
        width:50%;
      }

      .int-score{
        @include center($b:1em);
        display:none;
        @include med(){
          display:block;
        }
      }

      .circle{
        position:absolute;
        width:9.38em;
        height:9.38em;
        cursor:pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        pointer-events:none;
        &.shown{
          pointer-events:auto;
          .l{
            opacity:1;
          }
        }
        &.clicked:before{
          content:'';
          @include trs('all #{$anim} ease-in-out');
          border:.5em solid #0f0;
          opacity:0;
        }
        &:before{
          content:'';
          @include abs($l:0,$r:0,$t:0,$b:0);
          border-radius:50%;
        }
        .l{
          opacity:0;
        }
      }
    }
    &.team{
      &.enable{
        &.item-l .item:not(.putL):not(.putR) img{
          transform:translate(-2em, 0) rotate(-15deg);
        }

        &.item-r .item:not(.putL):not(.putR) img{
          transform:translate(2em, 0) rotate(15deg);
        }
        .left,.right{
          cursor:pointer;
        }
        .arr{
          opacity:1;
        }
      }
      .mini{
        @include center($r:1em);
        z-index:1;
        @include med(){
          @include center($t:2em);
          @include flx(display,flex);
        }
        div{
          margin:.2em 0;
          width:2em;
          height:2em;
          background:center/cover no-repeat;
          opacity:.5;
          &:nth-child(2n+2){
            margin:-1em 0 -1em -2.2em;
          }
          @include med(){
            margin:0 .3em;
            &:nth-child(2n+2){
              margin:0 .3em;
            }
          }
          &.shown{
            opacity:1;
          }
        }
      }
      .item{
        &.putL{
          .i-desc{
            opacity:1;
          }
          img{
            transform:translate(-23em, 0) scale(0.9);
          }
        }
        &.putR{
          .i-desc{
            opacity:1;
          }
          img{
            transform:translate(23em, 0) scale(0.9);
          }
        }
      }
      .left,.right{
        cursor:default;
      }
      .emerge{
        position:absolute;
        width:100%;
        height:100%;
        pointer-events:none;
      }
      .i-img{
        width:70%;
        @include med(){
          width:82%;
        }
      }
      .arr{
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
      }
      .i-desc{
        bottom:-4em;
      }
    }
  }
}