@include exports("@path:components\_game-pop.scss"){/*@path:components\_game-pop.scss*/
  .game-pop{
    width:100%;
    height:56.25vw; //h:w=9/16
    max-height:100vh;
    max-width:177.7777vh; //16/9=1.778
    @include center();
    visibility:hidden;
    z-index:2;
    color:#fff;
    &.shown{
      visibility:visible;
      .caller{
        background-image:url(#{$path}/icons/icon-close.svg);
      }
      .inner{
        opacity:1;
        @include trs('opacity #{$anim} ease-in-out');
      }
    }
    &.other .g-bg~.g-bg{
      opacity:0;
    }
    &.gaming{
      .caller{
        display:none;
      }
    }
    .caller{
      @include abs($t:3em,$l:3.7rem - .75rem);
      width:3rem;
      height:3rem;
      cursor:pointer;
      visibility:hidden;
      z-index:1;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      background:url(#{$path}/icons/icon-game.svg) center/cover no-repeat;
      .start &,.fromLoad &{
        visibility:visible;
      }
    }
    .inner{
      @include abs($l:-1px,$r:-1px,$t:0,$b:0);
      opacity:0;
      background:#000;
      color:#fff;
      padding:2em;
    }
    .block{
      @include flx(display,flex);
      opacity:0;
      pointer-events:none;
      @include abs($l:0,$r:0,$t:0,$b:0);
      @include flx(flex-flow,'row wrap');
      @include flx(align-items,center);
      @include flx(justify-content,space-between);
      @include flx(align-content,center);
      &.shown{
        opacity:1;
        pointer-events:auto;
      }
      &:first-child{
        background: url(#{$path}game/pregame.jpg) center/cover no-repeat;
      }
    }
    .ch-text{
      width:80%;
      text-align:center;
      margin:0 auto;
      @include flx(order,1);
      &:last-child{
        @include flx(order,3);
        margin-top:4em;
        font-size:.96em;
        @include med(){
          font-size:.6em;
        }
      }
      span{
        font-size:1.3em;
        text-transform:uppercase;
        font-weight:700;
        position:relative;
        top:3em;
        letter-spacing:.1em;
      }
    }
    .choose{
      width:30em;
      height:9/16*30em;
      margin-top:5em;
      position:relative;
      cursor:pointer;
      @include flx(order,2);
      &:nth-child(1){
        margin-left:1.5em;
      }
      &:nth-child(2){
        margin-right:1.5em;
      }
      div{
        font-size:2.2em;
        font-weight:700;
        text-transform:uppercase;
        letter-spacing:.1em;
        color:getc(grn);
        @include center($t:-1.5em);
      }
    }
    .g-bg,.g-btn,.g-hand,.g-garb-img,.g-g{
      @include abs($l:0,$t:0);
      width:100%;
      pointer-events:none;
    }
    .g-close,.g-ctrl{
      position:absolute;
      cursor:pointer;
      &:active+.g-btn{
        opacity:1;
      }
    }
    .g-close{
      left:4.5em;
      top:7em;
      width:5.3em;
      height:2.9em;
    }
    .g-btn{
      opacity:0;
    }
    .g-ctrl{
      width:5.3em;
      height:5.3em;
      &.shown+.g-btn+.g-hand{
        opacity:1;
      }
      &.lu{
        left:4.5em;
        top:21.2em;
      }
      &.ru{
        right:4.5em;
        top:21.2em;
      }
      &.rd{
        right:4.5em;
        top:27.2em;
      }
      &.ld{
        left:4.5em;
        top:27.2em;
      }
    }
    .g-hand{
      opacity:0.3;
    }
    .g-g{
      opacity:.3;
      &.shown{
        opacity:1;
      }
    }
    .score{
      width:100%;
      text-align:center;
      &.in-game{
        width:auto;
        @include abs($t:8em,$r:21em);
        .s-digits{
          color:#000;
          font-size:4.8em;
        }
      }
      &.curr{
        margin-top:2em;
      }
    }
    .lives{
      @include abs($t:13.3em,$r:23.2em);
      img{
        width:1em;
        opacity:.3;
        margin-left:.5em;
        &.shown{
          opacity:1;
        }
      }
    }
    .s-h{
      font-size:.96em;
      @include med(){
        font-size:.6em;
      }
    }
    .s-digits{
      font-family:font2();
      font-size:4em;
      position:relative;
      display:inline-block;
      &:before{
        content:'0000';
        opacity:.3;
      }
    }
    .s-d-inner{
      @include abs($r:0,$t:0);
    }
    .btn{
      margin:2em auto 0 auto;
      text-transform:uppercase;
      width:14em;
      height:60/272*14em;
      background: url(#{$path}info-pop/btn.svg) no-repeat;
      @include flx(display,flex);
      @include flx(align-items,center);
      font-size:1.6em;
      text-decoration:none;
      line-height:1;
      color:#000;
      padding-left:1em;
      cursor:pointer;
      @extend %bxz;
      @include med(){
        font-size:1em;
        &:hover{
          background-image:url(#{$path}info-pop/btn-h.svg);
          color:#fff;
        }
      }
    }
  }
}