@include exports("@path:components\_main.scss"){/*@path:components\_main.scss*/
  .player-wrap{
    width:100%;
    height:56.25vw; //h:w=9/16
    max-height:100vh;
    max-width:177.7777vh; //16/9=1.778
    background:#000;
    @include center();
  }

  .overlay-block{
    @include abs($t:0,$b:0,$l:0,$r:0);
    z-index:1;
    visibility:hidden;
    @include no-sel();
    @include trs('background #{$anim} ease-in-out,visibility 0s ease-in-out #{$anim*3}');
    &.shown{
      visibility:visible;
      background:#000;
      transition-delay:#{$anim*2},0s;
    }
    &.no-bg{
      background:none;
    }
    &.isLearn{
      z-index:3;
    }
  }
  .ov-wrap{
    width:100%;
    height:56.25vw; //h:w=9/16
    max-height:100vh;
    max-width:177.7777vh; //16/9=1.778
    z-index:1;
    opacity:0;
    pointer-events:none;
    color:#fff;
    @include center();
    @include trs('opacity #{$anim*3} ease-in-out');
    &.shown{
      pointer-events:auto;
      opacity:1;
    }
  }
  .ov-inner{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    visibility:hidden;
    @include trs('opacity #{$anim} ease-in-out');
    &.shown{
      visibility:visible;
      opacity:1;
    }
    &.hi-bye{
      &:before{
        content:'';
        @include abs($l:10em,$t:0,$b:0);
        width:.1em;
        background:linear-gradient(180deg,#DF8998,#E5B99D 90%);
        @include med(){
          left:13em;
        }
      }
      .ov-cont{
        @include center();
        width:47.4%;
        margin-left:-5em;
        @include med(){
          margin-left:0;
        }
      }
    }
    &.int{

    }
    .h-b-h{
      width:100%;
      font-size:3.8em;
      font-weight:700;
    }
    .h-b-text{
      margin-top:2em;
      font-size:1.6em;
      @include med(){
        margin-top:2.5em;
        font-size:1em;
      }
      a{
        color:getc(grn);
      }
    }
    .h-b-var:not(:first-child){
      display:none;
    }
    .h-b-infogr{
      margin-top:1.5em;
      height:5em;
      @include med(){
        height:7em;
      }
      img{
        height:100%;
      }
    }
  }
  //---
  .the-btn{
    text-transform:uppercase;
    width:14em;
    height:60/272*14em;
    background: url(#{$path}info-pop/btn.svg) no-repeat;
    @include flx(display,flex);
    @include flx(align-items,center);
    font-size:1.6em;
    text-decoration:none;
    line-height:1;
    color:#000;
    cursor:pointer;
    @extend %bxz;
    @include med(){
      font-size:1em;
      &:hover{
        background-image:url(#{$path}info-pop/btn-h.svg);
        color:#fff;
      }
    }
  }
  //---
  .bg-img{
    position:absolute;
    width:100%;
    height:100%;
    background:center/cover no-repeat;
  }
  //---
  .t-scroll-wrap{
    height:100%;
    overflow:auto;
    @include abs($l:0,$r:0);
    &::-webkit-scrollbar{
      display:none;
    }
  }
  .t-scroll-inner{
    position:relative;
    padding-right:5em;
    @include med(){
      padding-right:3em;
    }
  }

  .t-scroll-bar{
    @include abs($t:.5em,$b:.5em,$r:.3em);
    width:0.6em;
    background:rgba(#fff,.3);
    border-radius:0.3em;
    &.hidden{
      display:none;
    }
    div{
      background:rgba(#fff,.5);
      width:100%;
      height:10%;
      position:absolute;
      border-radius:0.3em;
      cursor:pointer;
    }
  }
  //---
  @keyframes blood{
    10%{
      filter:opacity(0);
    }
  }
  .the-blood{
    @include abs($l:0,$t:0,$r:0,$b:0);
    background: center/cover no-repeat;
    pointer-events:none;
    opacity:0;
    animation:0s forwards linear blood infinite;
  }
  .the-prog{
    @include abs($l:0,$t:0);
    width:100%;
    height:.25em;
    background:linear-gradient(90deg,#DF8998,#E5B99D 90%);
    opacity:0;
    @include trs('width 0s linear');
    &.shown{
      width:0;
      opacity:1;
    }
  }
  //---
  .hoverable{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    @include med(){
      &:hover{
        img{
          opacity:0;
          &+img{
            opacity:1;
          }
        }
      }
    }
    img{
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
      &+img{
        opacity:0;
      }
    }
  }

  .special-btns{
    width:100%;
    height:56.25vw; //h:w=9/16
    max-height:100vh;
    max-width:177.7777vh; //16/9=1.778
    @include center();
    z-index:2;
    pointer-events:none;
    display:none;
    font-size:.5em;
    .start &{
      //display:block;
    }
    .inner{
      @include abs($l:4em,$t:9em);
      height:4em;
      pointer-events:auto;
      @include med(){
        top:5.6em;
      }
    }
    input{
      opacity:0;
      @include abs($t:0);
      width:4em;
      height:100%;
      cursor:pointer;
      &:checked{
        &~.step-btns{
          @include flx(display,flex);
        }
      }
    }
    .icon{
      @include center($l:0);
      width:4em;
      pointer-events:none;
    }
    .step-btns{
      background:#000;
      border-radius:.3em;
      height:3.5em;
      display:none;
      position:relative;
      margin-left:4.5em;
    }
    .int-ind-back{
      cursor:pointer;
      width:3.5em;
      color:#fff;
      font-size:1em;
      opacity:.3;
      pointer-events:none;
      position:relative;
      &.enabled{
        opacity:1;
        pointer-events:auto;
      }
      span{
        @include center();
      }
    }
  }
  //other
  .loader-pop{
    @include abs($l:0,$r:0,$t:0,$b:0);
    @include trs('opacity #{$anim} ease-in-out');
    z-index:2;
    background:#000;

    .loaded &{
      opacity:0;
      pointer-events:none;
    }
    .l{
      position:absolute;
      width:100%;
      height:100%;
      background:url(#{$path}loader.png) center no-repeat;
    }
  }
  //---
  .orientation-pop{
    color:#fff;
    @include abs($l:0,$r:0,$t:0,$b:0);
    background:#000;
    opacity:0;
    visibility:hidden;
    font-size:2.5em;
    line-height:1.5em;
    z-index:3;
    @include flx(justify-content,center);
    @include flx(align-items,center);
    .too-small &{
      opacity:1;
      visibility:visible;
    }
    .inter &{
      display:none;
    }
    .bg{
      position:absolute;
      width:100%;
      height:100%;
      background:url(#{$path}start-bg.jpg) center/cover no-repeat;
    }
    .text{
      @include center();
      width:80%;
    }
  }
  //---
  .start-pop{
    @include abs($l:0,$r:0,$t:0,$b:0);
    @include flx(display,flex);
    @include flx(flex-flow,'row wrap');
    @include flx(justify-content,center);
    background:url(#{$path}start-bg.jpg) center/cover no-repeat;
    z-index:1;
    @include trs('opacity #{$anim} ease-in-out');
    font-size:0.6em;
    .start &{
      opacity:0;
      pointer-events:none;
    }
    .logo{
      @include abs($l:0,$r:0,$t:0,$b:0);
      background: url(#{$path}start-logo.svg) center/cover no-repeat;
    }
    .wrap{
      @include center();
      width:50em;
      margin-top:10em;
      @include flx(display,flex);
      @include flx(justify-content,space-between);
    }
    .start{
      width:20em;
      height:60/272*30em;
      cursor:pointer;
      position:relative;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      @include trs('color #{$anim} ease-in-out');
      &.play{
        color:getc(dark);
        @include med(){
          &:hover{
            color:#fff;
            img{
              opacity:0;
              &+img{
                opacity:1;
              }
            }
          }
        }
        span{
          right:1em;
        }
      }
      &.load{
        color:#fff;
        @include med(){
          &:hover{
            color:getc(dark);
            img{
              opacity:0;
              &+img{
                opacity:1;
              }
            }
          }
        }
        img{
          @include trf(scale(-1,1));
        }
        span{
          left:1em;
        }
      }
      .goOn & div{
        &:nth-child(1){
          display:none;
        }
        &:nth-child(2){
          display:block;
        }
      }

      div:nth-child(2){
        display:none;
      }
      img{
        @include abs($l:0,$t:0);
        width:100%;
        height:100%;
        @include trs('opacity #{$anim} ease-in-out');
        &+img{
          opacity:0;
        }
      }
      span{
        text-transform:uppercase;
        font-size:1.5em;
        @include center($f:v);
      }
    }
  }

  .s-ctrls{
    @include abs($l:0,$t:0);
    $h:3.25em;
    height:$h;
    @include flx(display,flex);
    cursor:pointer;
    z-index:1;
    .clr{
      width:105/114*$h;
      display:none;
      position:relative;
      margin-left:-1px;
      #wrap:not(.start) &{
        //display:block;
      }
    }
  }
  //---
  .int-score{
    @include center($b:1em);
    text-align:center;
    width:10em;
    color:rgba(#fff, 0.5);
    .s-dots{
      @include flx(display, flex);
      @include flx(justify-content, center);
      @for $x from 1 through 3{
        &.b#{$x} div:nth-child(-n+#{$x}){
          background-image:url(#{$path}/1-25/point-full.svg);
        }
      }

      div{
        width:.5em;
        height:.5em;
        margin:0 .05em;
        background:url(#{$path}/1-25/point-empty.svg) center/cover no-repeat;
      }
    }

    .s-amt{
      margin-top:.5em;
      font-size:1.4em;
      font-weight:300;
    }

    .s-descr{
      font-size:.6em;
      @include med(){
        font-size:.5em;
      }
    }
  }
  //---
  .article-item{
    color:#fff;
    cursor:pointer;
    width:48%;
    padding-bottom:48%;
    position:relative;
    @include med(){
      padding-bottom:24%;
      &:hover{
        .a-h{
          background:#fff;
          span{
            color:#000;
            background:none;
          }
        }
      }
    }
    &.disabled{
      pointer-events:none;
      opacity:.3;
    }
    &:nth-child(1),&:nth-child(2){
      margin-top:1.5em;
    }
    .a-bg{
      @include abs($t:-1.5em);
      width:100%;
    }
    .a-cont{
      padding:1.5em 2em;
      border:2px solid #fff;
      @include abs($l:0,$r:0,$t:0,$b:0);
    }
    .a-icon{
      @include abs($t:-2.5em,$r:.5em);
      width:5em;
      @include trs('right #{$anim} ease-in-out');
    }
    .a-h{
      text-transform:uppercase;
      text-decoration:none;
      margin-left:-2em;
      line-height:1.2;
      display:inline-block;
      padding:.5em 2em;
      @include trs('background #{$anim} ease-in-out');
      span{
        font-size:1.1*1.6em;
        color:getc(grn);
        @include grad-ref($c:rgba(getc(grn),.3),$d:true);
        @include med(){
          font-size:1.1em;
        }
      }
    }
    .a-text{
      margin-top:.4em;
      font-size:1.6em;
      //text-overflow:ellipsis;
      @include med(){
        font-size:1em;
      }
    }
  }
  //---
  @keyframes articl{
    10%,90%{
      transform:translate(-100%,-50%);
    }
  }

  .article-pop{
    @include center($l:100%);
    z-index:3;
    //@include trs('margin-right #{$anim} ease-in-out');
    color:#fff;
    &.shown{
      //margin-right:calc(-1*var(--w));
      animation:12s forwards linear articl;
    }
    .into{
      font-size:.6em;
      display:inline-block;
    }
    .article-item{
      margin:0;
      width:26.9em;
      height:26.9em;
      padding-bottom:0;
      @include med(){
        height:13.45em;
      }
      &:before{
        content:'';
        @include abs($l:0,$r:0,$t:0,$b:0);
        background:getc(dark);
      }
    }
    .a-h span{
      font-size:1.6*1.1em;
      @include med(){
        font-size:1.1em;
      }
    }
    .a-text{
      font-size:1.6em;
      //text-overflow:ellipsis;
      @include med(){
        font-size:1em;
      }
    }
  }
  //---
  @keyframes achiev{
    10%,90%{
      margin-right:-24em;
    }
  }

  .achievement-pop{
    @include center($r:100%);
    --w:24em;
    width:var(--w);
    height:calc(255/586*var(--w));
    z-index:3;
    //@include trs('margin-right #{$anim} ease-in-out');
    background: url(#{$path}achievement-popup.svg) no-repeat;
    color:#fff;
    &.shown{
      //margin-right:calc(-1*var(--w));
      animation:6s forwards linear achiev;
    }
    .into{
      @include flx(display,flex);
      @include flx(align-items,center);
      height:100%;
      margin:-.7em 0 0 4em;
    }
    .img{
      width:5em;
    }
    .inner{
      margin:0 2.5em 0 1.5em;
      @include flx(flex,'1 1 auto');
      font-size:.6em;
    }
    .h{
      text-transform:uppercase;
      font-weight:700;
      font-size:1.3*1.1em;
      @include med(){
        font-size:1.1em;
      }
    }
    .text{
      margin:.6em 1em 0 0;
      font-size:1.3em;
      @include med(){
        font-size:1em;
      }
    }
  }
  //---
  .full-article-pop{
    @include abs($l:0,$t:0,$r:0,$b:0);
    z-index:2;
    opacity:0;
    visibility:hidden;
    color:getc(dark);
    @include trs('opacity #{$anim} ease-in-out');
    &.shown{
      visibility:visible;
      opacity:1;
    }
    .bg{
      @include abs($l:0,$r:0,$t:0,$b:0);
      cursor:pointer;
      background:rgba(#000,.3);
    }
    .content{
      @include center($t:4em);
      bottom:4em;
      width:34em;
      background:#fff;
    }
    .close{
      @include abs($t:.5em,$r:.5em);
      width:2.3rem;
      height:2.3rem;
      cursor:pointer;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      background:url(#{$path}icons/icon-back.svg) center/cover no-repeat;
    }
    .back,.more{
      @include med(){
        font-size:.7em;
      }
    }
    .back{
      color:getc(grn);
      @include abs($b:2em,$l:2em);
      cursor:pointer;
      @include grad-ref($c:getc(grn),$d:true);
    }
    .more{
      color:getc(grn);
      @include abs($b:2em,$r:3.5em);
      cursor:pointer;
      @include grad-ref($c:getc(grn),$d:true);
      &:before{
        content:'→';
        @include abs($r:-1.5em);
      }
    }
    .container{
      overflow:hidden;
      @include abs($l:1.5em,$r:1.5em,$b:3.5em,$t:2.5em);
    }
    .h{
      font-weight:700;
      text-transform:uppercase;
      span{
        font-size:2.4em;
      }
    }
    .text{
      margin-top:1em;
      @include med(){
        font-size:.7em;
      }
    }
    .img{
      margin-top:2em;
      padding-bottom:7/72*100%;
      position:relative;
      img{
        position:absolute;
        width:100%;
        height:100%;
      }
    }
    .btns{
      margin-top:1em;
      font-size:.7em;
      @include med(){
        @include flx(display,flex);
        @include flx(justify-content,space-between);
      }
    }
    .the-btn{
      padding-left:1.5em;
      @include med(){
        &:hover{
          color:#000;
        }
      }
    }
    .t-scroll-bar{
      background:rgba(#000,.3);
      div{
        background:rgba(#000,.5);
      }
    }
  }
//---
  .smooth{
    width:100%;
    height:100%;
    opacity:0;
    pointer-events:none;
    @include abs($l:0,$t:0);
    @include trs('opacity #{$anim} ease-in-out');
    &.shown{
      opacity:1;
      pointer-events:auto;
      transition-duration:0s;
    }
  }
}
//---
.server-test{
  @include center($t:1em);
  padding:1em;
  pointer-events:none;
  width:70%;
  z-index:5;
  background:rgba(#fff,.6);
  display:none;
}